@model StudentInformationSystem.Models.Student

<h1>Edit Student</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="StudentId" />

    <div class="form-group">
        <label asp-for="FirstName" class="control-label">First Name</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MiddleName" class="control-label">Middle Name</label>
        <input asp-for="MiddleName" class="form-control" />
        <span asp-validation-for="MiddleName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="control-label">Lasr Name</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DateOfBirth" class="control-label">Date of Birth</label>
        <input asp-for="DateOfBirth" class="form-control" />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Course" class="control-label">Course</label>
        <input asp-for="Course" class="form-control" />
        <span asp-validation-for="Course" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="YearLevel" class="control-label">Year Level</label>
        <input asp-for="YearLevel" class="form-control" />
        <span asp-validation-for="YearLevel" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Edit</button>
</form>
